# Lab | Revisiting Machine Learning Case Study

In this lab, you will use learningSet.csv file which you already have cloned in today's activities.

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
import datetime
import warnings
import matplotlib.pyplot as plt
import seaborn as sns

warnings.filterwarnings('ignore')

## Import data

In [2]:
data = pd.read_csv('learningSet.csv')
data.shape

(95412, 481)

In [3]:
data.head(3)

,ODATEDW,OSOURCE,TCODE,STATE,ZIP,MAILCODE,PVASTATE,DOB,NOEXCH,RECINHSE,...,TARGET_D,HPHONE_D,RFA_2R,RFA_2F,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,CLUSTER2,GEOCODE2
0,8901,GRI,0,IL,61081,,,3712,0,,...,0.0,0,L,4,E,X,X,X,39.0,C
1,9401,BOA,1,CA,91326,,,5202,0,,...,0.0,0,L,2,G,X,X,X,1.0,A
2,9001,AMH,1,NC,27017,,,0,0,,...,0.0,1,L,4,E,X,X,X,60.0,C

## Clean columns

In [4]:
data.columns = [columns.lower().replace(' ', '_') for columns in data.columns]
data

,odatedw,osource,tcode,state,zip,mailcode,pvastate,dob,noexch,recinhse,...,target_d,hphone_d,rfa_2r,rfa_2f,rfa_2a,mdmaud_r,mdmaud_f,mdmaud_a,cluster2,geocode2
0,8901,GRI,0,IL,61081,,,3712,0,,...,0.0,0,L,4,E,X,X,X,39.0,C
1,9401,BOA,1,CA,91326,,,5202,0,,...,0.0,0,L,2,G,X,X,X,1.0,A
2,9001,AMH,1,NC,27017,,,0,0,,...,0.0,1,L,4,E,X,X,X,60.0,C
3,8701,BRY,0,CA,95953,,,2801,0,,...,0.0,1,L,4,E,X,X,X,41.0,C
4,8601,,0,FL,33176,,,2001,0,X,...,0.0,1,L,2,F,X,X,X,26.0,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,9601,ASE,1,AK,99504,,,0,0,,...,0.0,0,L,1,G,X,X,X,12.0,C
95408,9601,DCD,1,TX,77379,,,5001,0,,...,0.0,1,L,1,F,X,X,X,2.0,A
95409,9501,MBC,1,MI,48910,,,3801,0,,...,0.0,1,L,3,E,X,X,X,34.0,B
95410,8601,PRV,0,CA,91320,,,4005,0,X,...,18.0,1,L,4,F,X,X,X,11.0,A
95411,8801,MCC,2,NC,28409,,,1801,0,X,...,0.0,1,L,1,G,C,1,C,12.0,C

### Check stats and correlation

In [5]:
data['osource'].dtypes

dtype('O')

In [6]:
data.describe()

,odatedw,tcode,dob,age,numchld,income,wealth1,hit,mbcraft,mbgarden,...,fistdate,nextdate,timelag,avggift,controln,target_b,target_d,hphone_d,rfa_2f,cluster2
count,95412.000000,95412.000000,95412.000000,71747.000000,12386.000000,74126.000000,50680.000000,95412.000000,42558.000000,42558.000000,...,95412.000000,85439.000000,85439.000000,95412.000000,95412.000000,95412.000000,95412.000000,95412.000000,95412.000000,95280.000000
mean,9141.363256,54.223117,2723.602933,61.611649,1.527773,3.886248,5.345699,3.321438,0.152075,0.059166,...,9135.651648,9151.022917,8.093739,13.347786,95778.176959,0.050759,0.793073,0.500618,1.910053,31.533711
std,343.454752,953.844476,2132.241295,16.664199,0.806861,1.854960,2.742490,9.306899,0.470023,0.262078,...,320.394019,294.257260,8.213242,10.769997,55284.596094,0.219506,4.429725,0.500002,1.072749,18.764614
min,8306.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,7211.000000,0.000000,1.285714,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000
25%,8801.000000,0.000000,201.000000,48.000000,1.000000,2.000000,3.000000,0.000000,0.000000,0.000000,...,8810.000000,8903.000000,4.000000,8.384615,47910.750000,0.000000,0.000000,0.000000,1.000000,15.000000
50%,9201.000000,1.000000,2610.000000,62.000000,1.000000,4.000000,6.000000,0.000000,0.000000,0.000000,...,9201.000000,9204.000000,6.000000,11.636364,95681.500000,0.000000,0.000000,1.000000,2.000000,32.000000
75%,9501.000000,2.000000,4601.000000,75.000000,2.000000,5.000000,8.000000,3.000000,0.000000,0.000000,...,9409.000000,9409.000000,11.000000,15.477955,143643.500000,0.000000,0.000000,1.000000,3.000000,49.000000
max,9701.000000,72002.000000,9710.000000,98.000000,7.000000,7.000000,9.000000,241.000000,6.000000,4.000000,...,9603.000000,9702.000000,1088.000000,1000.000000,191779.000000,1.000000,200.000000,1.000000,4.000000,62.000000

#### Correlation to TARGET_D

In [7]:
data.corr()['target_d'].sort_values(ascending = False)[:20]

target_d    1.000000
target_b    0.774232
ramnt_4     0.268811
ramnt_21    0.099339
ramnt_9     0.090168
ramnt_14    0.084498
ramnt_22    0.081324
ramnt_8     0.081060
ramnt_12    0.062226
lastgift    0.061678
ramnt_13    0.059044
ramnt_11    0.058992
ramnt_24    0.055679
ramnt_18    0.049268
ramnt_7     0.048949
ramnt_3     0.046038
ramnt_15    0.045292
ramntall    0.044810
avggift     0.044299
ramnt_10    0.044275
Name: target_d, dtype: float64

## Check for null values in all the columns

### Check all columns

In [8]:
list(data.columns)

['odatedw',
 'osource',
 'tcode',
 'state',
 'zip',
 'mailcode',
 'pvastate',
 'dob',
 'noexch',
 'recinhse',
 'recp3',
 'recpgvg',
 'recsweep',
 'mdmaud',
 'domain',
 'cluster',
 'age',
 'ageflag',
 'homeownr',
 'child03',
 'child07',
 'child12',
 'child18',
 'numchld',
 'income',
 'gender',
 'wealth1',
 'hit',
 'mbcraft',
 'mbgarden',
 'mbbooks',
 'mbcolect',
 'magfaml',
 'magfem',
 'magmale',
 'pubgardn',
 'pubculin',
 'pubhlth',
 'pubdoity',
 'pubnewfn',
 'pubphoto',
 'pubopp',
 'datasrce',
 'malemili',
 'malevet',
 'vietvets',
 'wwiivets',
 'localgov',
 'stategov',
 'fedgov',
 'solp3',
 'solih',
 'major',
 'wealth2',
 'geocode',
 'collect1',
 'veterans',
 'bible',
 'catlg',
 'homee',
 'pets',
 'cdplay',
 'stereo',
 'pcowners',
 'photo',
 'crafts',
 'fisher',
 'gardenin',
 'boats',
 'walker',
 'kidstuff',
 'cards',
 'plates',
 'lifesrc',
 'pepstrfl',
 'pop901',
 'pop902',
 'pop903',
 'pop90c1',
 'pop90c2',
 'pop90c3',
 'pop90c4',
 'pop90c5',
 'eth1',
 'eth2',
 'eth3',
 'eth4',
 'eth5',
 'eth6',
 'eth7',
 'eth8',
 'eth9',
 'eth10',
 'eth11',
 'eth12',
 'eth13',
 'eth14',
 'eth15',
 'eth16',
 'age901',
 'age902',
 'age903',
 'age904',
 'age905',
 'age906',
 'age907',
 'chil1',
 'chil2',
 'chil3',
 'agec1',
 'agec2',
 'agec3',
 'agec4',
 'agec5',
 'agec6',
 'agec7',
 'chilc1',
 'chilc2',
 'chilc3',
 'chilc4',
 'chilc5',
 'hhage1',
 'hhage2',
 'hhage3',
 'hhn1',
 'hhn2',
 'hhn3',
 'hhn4',
 'hhn5',
 'hhn6',
 'marr1',
 'marr2',
 'marr3',
 'marr4',
 'hhp1',
 'hhp2',
 'dw1',
 'dw2',
 'dw3',
 'dw4',
 'dw5',
 'dw6',
 'dw7',
 'dw8',
 'dw9',
 'hv1',
 'hv2',
 'hv3',
 'hv4',
 'hu1',
 'hu2',
 'hu3',
 'hu4',
 'hu5',
 'hhd1',
 'hhd2',
 'hhd3',
 'hhd4',
 'hhd5',
 'hhd6',
 'hhd7',
 'hhd8',
 'hhd9',
 'hhd10',
 'hhd11',
 'hhd12',
 'ethc1',
 'ethc2',
 'ethc3',
 'ethc4',
 'ethc5',
 'ethc6',
 'hvp1',
 'hvp2',
 'hvp3',
 'hvp4',
 'hvp5',
 'hvp6',
 'hur1',
 'hur2',
 'rhp1',
 'rhp2',
 'rhp3',
 'rhp4',
 'hupa1',
 'hupa2',
 'hupa3',
 'hupa4',
 'hupa5',
 'hupa6',
 'hupa7',
 'rp1',
 'rp2',
 'rp3',
 'rp4',
 'msa',
 'adi',
 'dma',
 'ic1',
 'ic2',
 'ic3',
 'ic4',
 'ic5',
 'ic6',
 'ic7',
 'ic8',
 'ic9',
 'ic10',
 'ic11',
 'ic12',
 'ic13',
 'ic14',
 'ic15',
 'ic16',
 'ic17',
 'ic18',
 'ic19',
 'ic20',
 'ic21',
 'ic22',
 'ic23',
 'hhas1',
 'hhas2',
 'hhas3',
 'hhas4',
 'mc1',
 'mc2',
 'mc3',
 'tpe1',
 'tpe2',
 'tpe3',
 'tpe4',
 'tpe5',
 'tpe6',
 'tpe7',
 'tpe8',
 'tpe9',
 'pec1',
 'pec2',
 'tpe10',
 'tpe11',
 'tpe12',
 'tpe13',
 'lfc1',
 'lfc2',
 'lfc3',
 'lfc4',
 'lfc5',
 'lfc6',
 'lfc7',
 'lfc8',
 'lfc9',
 'lfc10',
 'occ1',
 'occ2',
 'occ3',
 'occ4',
 'occ5',
 'occ6',
 'occ7',
 'occ8',
 'occ9',
 'occ10',
 'occ11',
 'occ12',
 'occ13',
 'eic1',
 'eic2',
 'eic3',
 'eic4',
 'eic5',
 'eic6',
 'eic7',
 'eic8',
 'eic9',
 'eic10',
 'eic11',
 'eic12',
 'eic13',
 'eic14',
 'eic15',
 'eic16',
 'oedc1',
 'oedc2',
 'oedc3',
 'oedc4',
 'oedc5',
 'oedc6',
 'oedc7',
 'ec1',
 'ec2',
 'ec3',
 'ec4',
 'ec5',
 'ec6',
 'ec7',
 'ec8',
 'sec1',
 'sec2',
 'sec3',
 'sec4',
 'sec5',
 'afc1',
 'afc2',
 'afc3',
 'afc4',
 'afc5',
 'afc6',
 'vc1',
 'vc2',
 'vc3',
 'vc4',
 'anc1',
 'anc2',
 'anc3',
 'anc4',
 'anc5',
 'anc6',
 'anc7',
 'anc8',
 'anc9',
 'anc10',
 'anc11',
 'anc12',
 'anc13',
 'anc14',
 'anc15',
 'pobc1',
 'pobc2',
 'lsc1',
 'lsc2',
 'lsc3',
 'lsc4',
 'voc1',
 'voc2',
 'voc3',
 'hc1',
 'hc2',
 'hc3',
 'hc4',
 'hc5',
 'hc6',
 'hc7',
 'hc8',
 'hc9',
 'hc10',
 'hc11',
 'hc12',
 'hc13',
 'hc14',
 'hc15',
 'hc16',
 'hc17',
 'hc18',
 'hc19',
 'hc20',
 'hc21',
 'mhuc1',
 'mhuc2',
 'ac1',
 'ac2',
 'adate_2',
 'adate_3',
 'adate_4',
 'adate_5',
 'adate_6',
 'adate_7',
 'adate_8',
 'adate_9',
 'adate_10',
 'adate_11',
 'adate_12',
 'adate_13',
 'adate_14',
 'adate_15',
 'adate_16',
 'adate_17',
 'adate_18',
 'adate_19',
 'adate_20',
 'adate_21',
 'adate_22',
 'adate_23',
 'adate_24',
 'rfa_2',
 'rfa_3',
 'rfa_4',
 'rfa_5',
 'rfa_6',
 'rfa_7',
 'rfa_8',
 'rfa_9',
 'rfa_10',
 'rfa_11',
 'rfa_12',
 'rfa_13',
 'rfa_14',
 'rfa_15',
 'rfa_16',
 'rfa_17',
 'rfa_18',
 'rfa_19',
 'rfa_20',
 'rfa_21',
 'rfa_22',
 'rfa_23',
 'rfa_24',
 'cardprom',
 'maxadate',
 'numprom',
 'cardpm12',
 'numprm12',
 'rdate_3',
 'rdate_4',
 'rdate_5',
 'rdate_6',
 'rdate_7',
 'rdate_8',
 'rdate_9',
 'rdate_10',
 'rdate_11',
 'rdate_12',
 'rdate_13',
 'rdate_14',
 'rdate_15',
 'rdate_16',
 'rdate_17',
 'rdate_18',
 'rdate_19',
 'rdate_20',
 'rdate_21',
 'rdate_22',
 'rdate_23',
 'rdate_24',
 'ramnt_3',
 'ramnt_4',
 'ramnt_5',
 'ramnt_6',
 'ramnt_7',
 'ramnt_8',
 'ramnt_9',
 'ramnt_10',
 'ramnt_11',
 'ramnt_12',
 'ramnt_13',
 'ramnt_14',
 'ramnt_15',
 'ramnt_16',
 'ramnt_17',
 'ramnt_18',
 'ramnt_19',
 'ramnt_20',
 'ramnt_21',
 'ramnt_22',
 'ramnt_23',
 'ramnt_24',
 'ramntall',
 'ngiftall',
 'cardgift',
 'minramnt',
 'minrdate',
 'maxramnt',
 'maxrdate',
 'lastgift',
 'lastdate',
 'fistdate',
 'nextdate',
 'timelag',
 'avggift',
 'controln',
 'target_b',
 'target_d',
 'hphone_d',
 'rfa_2r',
 'rfa_2f',
 'rfa_2a',
 'mdmaud_r',
 'mdmaud_f',
 'mdmaud_a',
 'cluster2',
 'geocode2']

### Check null values

In [9]:
data.isna().sum().sort_values(ascending = False)*100/len(data)

rdate_5    99.990567
ramnt_5    99.990567
rdate_3    99.746363
ramnt_3    99.746363
rdate_4    99.705488
             ...
ethc3       0.000000
ethc2       0.000000
ethc1       0.000000
hhd12       0.000000
tpe11       0.000000
Length: 481, dtype: float64

## Exclude the following variables by looking at the definitions. Create a new empty list called drop_list. We will append this list and then drop all the columns in this list later:

- `OSOURCE` - symbol definitions not provided, too many categories
- `ZIP CODE` - we are including state already

### Create a new empty list called drop_list.

In [10]:

drop_list = data[['osource', 'zip']]
drop_list

      osource    zip
0         GRI  61081
1         BOA  91326
2         AMH  27017
3         BRY  95953
4              33176
...       ...    ...
95407     ASE  99504
95408     DCD  77379
95409     MBC  48910
95410     PRV  91320
95411     MCC  28409

[95412 rows x 2 columns]

### drop above 2 columns from the original data frame

In [11]:
data = data.drop(['osource', 'zip'] , axis = 1)

In [12]:
data.shape

(95412, 479)

## Identify columns that over 85% missing values

In [13]:
null_percent_df = data.isna().sum().sort_values(ascending = False)*100/len(data)
null_percent_df = null_percent_df.reset_index()

In [14]:
null_percent_df.columns = ['column_name', 'null_percent']

In [15]:
columns_above_threshold = null_percent_df[null_percent_df['null_percent'] >= 25]

In [16]:
columns_above_threshold

   column_name  null_percent
0      rdate_5     99.990567
1      ramnt_5     99.990567
2      rdate_3     99.746363
3      ramnt_3     99.746363
4      rdate_4     99.705488
..         ...           ...
67     adate_5     35.205215
68    adate_10     34.322727
69    adate_17     28.979583
70    adate_22     26.881315
71    adate_19     25.657150

[72 rows x 2 columns]

In [17]:
columns_above_threshold['column_name'].unique() # these columns from data can be dropped!

array(['rdate_5', 'ramnt_5', 'rdate_3', 'ramnt_3', 'rdate_4', 'ramnt_4',
       'ramnt_6', 'rdate_6', 'ramnt_15', 'rdate_15', 'rdate_23',
       'ramnt_23', 'rdate_20', 'ramnt_20', 'ramnt_7', 'rdate_7',
       'ramnt_17', 'rdate_17', 'rdate_21', 'ramnt_21', 'ramnt_10',
       'rdate_10', 'ramnt_13', 'rdate_13', 'numchld', 'rdate_11',
       'ramnt_11', 'rdate_19', 'ramnt_19', 'rdate_9', 'ramnt_9',
       'ramnt_24', 'rdate_24', 'rdate_18', 'ramnt_18', 'rdate_22',
       'ramnt_22', 'ramnt_8', 'rdate_8', 'ramnt_14', 'rdate_14',
       'ramnt_12', 'rdate_12', 'ramnt_16', 'rdate_16', 'adate_15',
       'adate_23', 'mbcolect', 'pubdoity', 'mbgarden', 'magfaml',
       'magfem', 'magmale', 'pubgardn', 'pubculin', 'pubhlth', 'mbbooks',
       'pubnewfn', 'pubphoto', 'pubopp', 'mbcraft', 'adate_20', 'wealth1',
       'wealth2', 'adate_13', 'adate_24', 'adate_21', 'adate_5',
       'adate_10', 'adate_17', 'adate_22', 'adate_19'], dtype=object)

## Remove those columns from the dataframe

In [18]:
def drop_columns(df, lst):
    for i in lst:
        df = df.drop(i, axis = 1)
        
    return df

In [20]:
drop_columns(data, ['rdate_5', 'ramnt_5', 'rdate_3', 'ramnt_3', 'rdate_4', 'ramnt_4',
       'ramnt_6', 'rdate_6', 'ramnt_15', 'rdate_15', 'rdate_23',
       'ramnt_23', 'rdate_20', 'ramnt_20', 'ramnt_7', 'rdate_7',
       'ramnt_17', 'rdate_17', 'rdate_21', 'ramnt_21', 'ramnt_10',
       'rdate_10', 'ramnt_13', 'rdate_13', 'numchld', 'rdate_11',
       'ramnt_11', 'rdate_19', 'ramnt_19', 'rdate_9', 'ramnt_9',
       'ramnt_24', 'rdate_24', 'rdate_18', 'ramnt_18', 'rdate_22',
       'ramnt_22', 'ramnt_8', 'rdate_8', 'ramnt_14', 'rdate_14',
       'ramnt_12', 'rdate_12', 'ramnt_16', 'rdate_16', 'adate_15',
       'adate_23', 'mbcolect', 'pubdoity', 'mbgarden', 'magfaml',
       'magfem', 'magmale', 'pubgardn', 'pubculin', 'pubhlth', 'mbbooks',
       'pubnewfn', 'pubphoto', 'pubopp', 'mbcraft', 'adate_20', 'wealth1',
       'wealth2', 'adate_13', 'adate_24', 'adate_21', 'adate_5',
       'adate_10', 'adate_17', 'adate_22', 'adate_19'])

,odatedw,tcode,state,mailcode,pvastate,dob,noexch,recinhse,recp3,recpgvg,...,target_d,hphone_d,rfa_2r,rfa_2f,rfa_2a,mdmaud_r,mdmaud_f,mdmaud_a,cluster2,geocode2
0,8901,0,IL,,,3712,0,,,,...,0.0,0,L,4,E,X,X,X,39.0,C
1,9401,1,CA,,,5202,0,,,,...,0.0,0,L,2,G,X,X,X,1.0,A
2,9001,1,NC,,,0,0,,,,...,0.0,1,L,4,E,X,X,X,60.0,C
3,8701,0,CA,,,2801,0,,,,...,0.0,1,L,4,E,X,X,X,41.0,C
4,8601,0,FL,,,2001,0,X,X,,...,0.0,1,L,2,F,X,X,X,26.0,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,9601,1,AK,,,0,0,,,,...,0.0,0,L,1,G,X,X,X,12.0,C
95408,9601,1,TX,,,5001,0,,,,...,0.0,1,L,1,F,X,X,X,2.0,A
95409,9501,1,MI,,,3801,0,,X,,...,0.0,1,L,3,E,X,X,X,34.0,B
95410,8601,0,CA,,,4005,0,X,,,...,18.0,1,L,4,F,X,X,X,11.0,A
95411,8801,2,NC,,,1801,0,X,,X,...,0.0,1,L,1,G,C,1,C,12.0,C

## Reduce the number of categories in the column GENDER. The column should only have either "M" for males, "F" for females, and "other" for all the rest

Note that there are a few null values in the column. We will first replace those null values using the code below:

```python
print(categorical['gender'].value_counts())
categorical['gender'] = categorical['gender'].fillna('F')
```

In [21]:
# value counts
data['gender'].value_counts()

F    51277
M    39094
      2957
U     1715
J      365
C        2
A        2
Name: gender, dtype: int64

In [22]:
# fill in with 'F'
data['gender'] = data['gender'].fillna('F')

In [23]:
# check if it is filled --> not filled
data['gender'].value_counts()

F    51277
M    39094
      2957
U     1715
J      365
C        2
A        2
Name: gender, dtype: int64

In [24]:
# check unique values to see it is a space
data['gender'].unique()

array(['F', 'M', ' ', 'C', 'U', 'J', 'A'], dtype=object)

### Replace ' ' with 'F'

In [25]:
data['gender'] = data['gender'].replace(' ', 'F')
data['gender'].value_counts()

F    54234
M    39094
U     1715
J      365
C        2
A        2
Name: gender, dtype: int64

### Use lambda: "M" for males, "F" for females, and "other" for all the rest

In [26]:
data['gender'] = data['gender'].apply(lambda x: x if x in ['M', 'F'] else 'other')
data['gender'].value_counts()

F        54234
M        39094
other     2084
Name: gender, dtype: int64